body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f9fa;
    }

    .login-container {
        max-width: 900px;
        width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
    }

    .left-panel {
        background-color: #004d40;
        /* Verde oscuro */
        color: white;
        padding: 40px;
        text-align: center;
    }

    .left-panel h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    .left-panel p {
        margin-top: 20px;
        font-size: 1.2rem;
    }

    .right-panel {
        background-color: white;
        padding: 40px;
    }